/*font family*/
@font-face {
  font-family: 'pretendard-thin';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Thin.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-extralight';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraLight.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-light';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Light.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-regular';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Regular.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-medium';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-semibold';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-SemiBold.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-bold';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-extrabold';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraBold.woff)
    format('woff');
}

@font-face {
  font-family: 'pretendard-black';
  src: url(./font/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff)
    format('woff');
}

/*mobile*/
@media (max-width: 959px) {
  #logo-large {
    display: none;
  }
  #logo-small {
    display: block;
    padding-left: 24px;
  }
  .menu-text {
    font-size: 1rem;
  }
  .menu-list {
    gap: 1rem;
    display: flex;
    position: fixed;
    right: 0px;
    padding-right: 24px;
    text-align: center;
  }
  .logomenu-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 100vw;
  }
  .logo-menu {
    align-items: center;
    display: flex;
    width: 100vw;
  }
  .info-list {
    display: none;
  }
  #nav-bar {
    height: 2rem;
    width: 100vw;

    padding-top: 1rem;

    padding-bottom: 1.5rem;
    left: 0px;
    top: 0px;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    background-color: #fff;
    z-index: 10;
  }

  #image-area {
    display: flex;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 4rem;
    position: fixed;
    overflow: auto;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .image-list-one {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
  }

  .image-list-two {
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 100vw;
  }

  .image-name-txet {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-family: 'pretendard-regular';

    position: relative;
    right: 2rem;
    bottom: 4rem;
  }
  .image-text-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.75rem;
    display: flex;
    width: 100vw;
  }
  .image {
    width: 100%;
    max-height: 300px;
    min-height: 30%;
  }
  #side-info {
    display: none;
    position: fixed;
    left: 0%;
    top: 88%;
    padding: 2px 16px;
    text-align: center;
    font-size: 12px;
    font-family: 'pretendard-medium';
    background: #fff;
    z-index: 12;
    transform: rotate(-90deg);
    white-space: nowrap;
    transform-origin: 0% 0%;
  }
  #side {
    z-index: 12;
    display: flex;
    position: fixed;
    left: 0%;
    top: 20%;
  }

  .image-warp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/*desktop*/
@media (min-width: 960px) {
  #logo-large {
    display: block;
  }
  #logo-small {
    display: none;
  }
  .menu-text {
    font-size: 1.5rem;
  }
  .menu-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
    list-style: none;
    text-align: left;
  }
  .logo-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    display: flex;
    background-color: #fff;
    z-index: 11;
    padding-bottom: 2.5rem;
    padding-right: 4.5rem;
  }
  .info-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
    bottom: 12rem;
    position: absolute;
    left: 4rem;
  }
  .info-text {
    color: #333;
    font-size: 1rem;
    font-family: 'Pretendard-regular';

    word-wrap: break-word;
    text-decoration: none;
  }
  .logomenu-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  #nav-bar {
    height: 100vh;
    width: 18rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    left: 0px;
    top: 0px;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 12rem;
    background-color: #fff;
    z-index: 10;
  }
  #image-area {
    display: flex;
    max-width: 80%;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
    flex-shrink: 0;
    padding-left: 24rem;
    right: 0px;
    top: 0px;
    position: fixed;

    overflow: auto;
    margin-bottom: 10%;
  }
  .image-name-txet {
    color: #222222;
    font-size: 110%;
    font-family: 'pretendard-regular';

    word-wrap: break-word;
  }
  .image-text-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    display: flex;
    margin-bottom: 6%;
    transition: 0.5s;
  }
  .image-list-one {
    height: 100vh;
    top: 0px;
    right: 4.5rem;
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    max-width: 49%;

    overflow-x: hidden;
    overflow-y: auto;
  }

  .image-list-two {
    height: 100vh;
    top: 0px;
    right: 4.5rem;
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

    max-width: 49%;

    overflow-x: hidden;
    overflow-y: auto;
  }

  #side-info {
    display: none;
  }
  #side {
    display: none;
  }

  /* no use
  .image-warp:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }*/

  .image-warp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.logo {
  width: 8.25rem;
  height: 12.125rem;
  justify-content: center;
  align-items: center;

  display: inline-flex;
}
.logo-mobile {
  justify-content: center;
  align-items: center;

  display: flex;
}

.menu-text {
  color: black;
  font-family: 'pretendard-medium';

  word-wrap: break-word;
  text-decoration-line: none;
}
body {
  overflow: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1%;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/* no use animation
@keyframes slide {
  from {
    position: relative;
    top: 0px;
    right: 0%;
  }
  to {
    position: relative;
    top: -475%;
    right: 0%;
  }
}*/
