/*mobile*/
@media (max-width: 959px) {
  #logo-large {
    display: none;
  }
  #logo-small {
    display: block;
  }

  .menu-text {
    font-size: 1rem;
  }

  .menu-list {
    gap: 1rem;
    display: flex;
    right: 1.2rem;
    text-align: center;
    float: left;
    position: fixed;
  }
  .logo-menu {
    align-items: center;

    display: flex;
  }
  .info-list {
    display: none;
  }
  #nav-bar {
     height: 2rem;
    width: 100vw;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    left: 0px;
    top: 0px;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    background-color: #fff;
    z-index: 10;
  }
  #image-area {
    display: flex;
    max-width: 100vw;
    height: 100vh;
    gap: 3%;
    left: 0px;
    top: 4rem;
    position: fixed;
    overflow: auto;
    flex-direction: column;
    margin-bottom: 10%;
  }
  .image-name-txet {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-family: 'pretendard light';
    font-weight: 100;
    position: relative;
    right: 2rem;
    bottom: 4rem;
  }
  .image-text-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.75rem;
    display: flex;
  }
  .image {
    width: 100%;
    max-height: 300px;
    min-height: 30%;
  }

  #side-info {
    display: none;
    position: fixed;
    left: 0%;
    top: 88%;
    padding: 2px 16px;
    text-align: center;
    font-size: 0.75rem;
    font-family: 'pretendard medium';
    background: #fff;
    z-index: 12;
    transform: rotate(-90deg);
    white-space: nowrap;
    transform-origin: 0% 0%;
  }

  #side {
    z-index: 12;
    display: flex;
    position: fixed;
    left: 0%;
    top: 20%;
  }
}

/*desktop*/
@media (min-width: 960px) {
  #logo-large {
    display: block;
  }
  #logo-small {
    display: none;
  }

  .menu-text {
    font-size: 1.5rem;
  }
  .menu-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
    list-style: none;
    text-align: left;
  }
  .logo-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    display: flex;
    background-color: #fff;
    z-index: 11;
    padding-bottom: 2.5rem;
    padding-right: 4.5rem;
  }
  .info-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    display: flex;
    bottom: 12rem;
    position: absolute;
    left: 4rem;
  }

  .info-text {
    color: #444444;
    font-size: 1rem;
    font-family: 'Pretendard medium';
    font-weight: 500;
    word-wrap: break-word;
    text-decoration: none;
  }

  .logomenu-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  #nav-bar {
    height: 100vh;
    width: 18rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    left: 0px;
    top: 0px;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 12rem;
    background-color: #fff;
    z-index: 10;
  }
  #image-area {
    display: flex;
    max-width: 80%;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;
    flex-shrink: 0;
    padding-left: 24rem;
    right: 0px;
    top: 0px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10%;
  }
  .image-name-txet {
    color: #444444;
    font-size: 110%;
    font-family: 'pretendard light';
    font-weight: 300;
    word-wrap: break-word;
  }
  .image-text-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    display: flex;
    margin-bottom: 6%;
    transition: 0.5s;
  }

  .image-list-one {
    top: 0px;
    right: 4.5rem;
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    max-width: 50%;

    animation-duration: 60s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
	
  }

  .image-list-one:hover {
    animation-play-state: paused;
  }
  .image-list-two {
    top: 0px;
    right: 4.5rem;
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    max-width: 50%;

    animation-duration: 60s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }
  .image-list-two:hover {
    animation-play-state: paused;
  }

  #side-info {
    display: none;
  }
  #side {
    display: none;
  }
  .image-text-wrap:hover {
    transform: scale(1.05);
    z-index: 20;
  }
}

.logo {
  width: 8.25rem;
  height: 12.125rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}
.logo-mobile {
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.image {
  width: 100%;
  height: auto;
  min-height: 60%;
  max-height: 100%;
  object-fit: cover;
}

.menu-text {
  color: black;
  font-family: 'Pretendard bold';
  font-weight: 700;
  word-wrap: break-word;
  text-decoration-line: none;
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1%;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

/*animation*/

@keyframes slide {
  from {
    position: relative;
    top: 0px;
    right: 0%;
  }
  to {
    position: relative;
    top: -475%;
    right: 0%;
  }
}
